/* Forside seksjon og bilde karusell*/
#forside-bilde{
    display: inline;
}

#bildekarusell-container{ 
    position: relative;
    margin: auto;
    display: none; 
}

.bildekarusell{
    width: 100%;
}

.tekst-bildekarusell{
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    top: 10%;
}

#forside-overskrift{
    top: 150px;
    font-size: 25px;
    z-index: 100;
}

#nyheter>.innhold-container-bilder{
    height:350px;
}


@media screen and (min-width: 1024px){

    #forside-overskrift{
        top: 185px;
        font-size: 25px;
        z-index: 100;
    }
}