/* Kontakt oss - tabeller */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 22px;
    overflow: auto;
    display: block;
    white-space: nowrap;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

tr:nth-child(even){
    background-color:#025951;
    color: white;
}

#kontaktinformasjon-liste{
    list-style-type: none;
}

/* Kart - kontakt oss */
#mapid { 
    height: 400px;
    border: none;
    position: relative;
    outline: none;
    overflow: hidden;
    
}