@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* mobile first  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generel overskrift*/
.container{
    position: relative;
    width: 100%;
}

.horisontalt-sentrert{
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
}
.overskrift-container{
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 25px;
    margin-top: 50px;
}

.overskrift-1{
    font-size: 50px;
    color: white;
}

.overskrift-2{
    font-size: 50px;
    color: #025951;
}

/* Generelt tekst*/
.container>.innhold-container{
    padding: 20px 50px 20px 50px;
}

.innhold-container{
    width: 100%;
    position: relative;
    color: #025951;
    font-size: 22px;
}

/* Generelt bilder */
.logo{
    height: 55px;
    margin: 10px 0 0 25px;
}

.fullbredde-bilde{
    height: 300px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.innhold-container-bilder{
    height: 200px;
    width: 100%; 
    overflow: hidden;  
    position: relative;
    object-fit: cover;
}

/* Generelt link */
.link{
    color: #025951;
    text-decoration: none;
}

.link:hover{
    color: #03A696;
    text-decoration: underline;
}

.link-uthevet{
    color: #03A696;
    text-decoration: none;
}

.link-uthevet:hover{
color: lightslategray;
text-decoration: underline;
}

/* Banner */
#banner{
    position:relative;
    width: 100%;
    background-color: lightgray;
}

#banner-logo{
    display: none;
}

@media screen and (min-width: 425px){
    #banner-logo{
        display: inherit ;
    }

    #banner-logo-small{
        display: none;
    }
}

#brand-container{
    display: block;
    height: 75px;
}

/* Toggle-knapp */
#toggle-meny-btn{
    background-color: #025951;
    color:white ;
    padding: 15px 25px 15px 25px;
    float: right;
    right: 15px;
    font-size: 20px;
}

/* Navigasjonsmeny */
#topp-meny{
    position: relative;
}

.meny{
    position: relative;
    list-style: none;
    background-color: #025951;
}

.meny-item{
    display: block;
    text-align: center;
}

.meny-item-link{
    color:white;
    text-decoration: none;
    font-size: 22px;
    display: block;
    padding: 10px 0 10px 0;
}

.meny-item-link:hover{
    color: white;
    background-color: #03A696;
}

.active{
    color:white;
    font-weight: bold;
    background-color: #03A696;
}

/* Forside seksjon */
#forside-overskrift{
    top: 10%;
    font-size: 25px;
}

#nyheter>.innhold-container-bilder{
    height:350px;
}


 /* Kontakt oss - tabeller */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 22px;
    overflow: auto;
    display: block;
    white-space: nowrap;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

tr:nth-child(even){
    background-color:#025951;
    color: white;
}

/* Footer */
footer{
    width: 100%;
    bottom: 0; 
    background-color: lightgray;
    position: relative;
    color:#025951;
}

.footer-container{
    width: 100%;
    height: 75px;
    float: left;
    position: relative;
}

.footer-logo{
    text-align: center;
}

.footer-copyright{
    text-align: center;
    padding-top: 10px;
}

.footer-published{
    text-align: center;
    padding-top: 10px;
}

/* Les mer/indre funksjon */
#nyheter-lesmer{
    display: none;
}

#utstilling-lesmer{
    display: none;
}

#corona-lesmer{
    display: none;
}

/* Responsive tablet */
@media screen and (min-width: 641px) and (max-width: 1024px){
}


/* Responsive deskop */
@media screen and (min-width: 1024px){
}