@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* mobile first  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Generel overskrift*/
.container{
    position: relative;
    width: 100%;
}

.horisontalt-sentrert{
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
}
.overskrift-container{
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 25px;
    margin-top: 50px;
}

.overskrift-1{
    font-size: 50px;
    color: white;
}

.overskrift-2{
    font-size: 50px;
    color: #025951;
}

/* Generelt tekst*/
.container>.innhold-container{
    padding: 20px 50px 20px 50px;
}

.innhold-container{
    width: 100%;
    position: relative;
    color: #025951;
    font-size: 22px;
}

/* Generelt bilder */
.logo{
    height: 55px;
    margin: 20px 0 0 25px;
}

.fullbredde-bilde{
    height: 300px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.innhold-container-bilder{
    height: 200px;
    width: 100%; 
    overflow: hidden;  
    position: relative;
    object-fit: cover;
}

/* Generelt link */
.link{
    color: #025951;
    text-decoration: none;
}

.link:hover{
    color: #03A696;
    text-decoration: underline;
}

.link-uthevet{
    color: #03A696;
    text-decoration: none;
}

.link-uthevet:hover{
color: lightslategray;
text-decoration: underline;
}

/* Banner */
#banner{
    position:relative;
    width: 100%;
    background-color: lightgray;
    overflow: hidden;
}

.brand-container{
    position: relative;
    width: 100%;
    height: 75px;
}

.topp-container{
    height: 100%;
    display: block ;
    width: 50%;
    overflow: auto;
    white-space: nowrap;
    box-sizing: border-box;   
}

/* meny for mobil og tablet */
nav {
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.meny-toggle {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
}

.burger-line{
    width: 35px;
    height: 5px;
    background-color: #025951;
    margin: 6px 0;
}

.logo-container {
    margin: 40px 0 60px 0;
}

.meny {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    background-color: #025951;
    width: 100%;
    
}

.meny-item {
    display: block;
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
    color: lightgray;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #025951;
    border-bottom-width: 1px;
}

.meny-item:first-child{
    margin-top: 0;
}

.meny-item:hover {
    background-color: #03A696;
    color: lightgray;
}

.meny-item-link{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: lightgray;

}

.active{
    display: flex;
}

.current-page{
    font-weight: bold;
    background-color: #03A696;
    color: #025951;

}

/* Footer */
footer{
    width: 100%;
    bottom: 0; 
    background-color: lightgray;
    position: relative;
    color:#025951;
}

.footer-container{
    width: 100%;
    height: 75px;
    float: left;
    position: relative; 
}

.footer-logo{
    text-align: center;
}

.footer-copyright{
    text-align: center;
    padding-top: 25px;
}

.footer-published{
    text-align: center;
    padding-top: 10px;
}

/* Les mer/indre funksjon */
#nyheter-lesmer, #utstilling-lesmer, #corona-lesmer,
#industri-lesmer,#skulptur-lesmer, #kunst-lesmer,
#om-kistefos-lesmer, #kistefos-historie-lesmer,
#transport-lesmer, #overnatting-lesmer
{
    display: none;
}

.toggle-knapp{
    background-color: #025951;
    color:white ;  
    padding: 5px 10px 5px 10px; 
    font-size: 15px;
}

/* Responsive tablet */
@media screen and (min-width: 641px) and (max-width: 1023px){
    /* Les mer/indre funksjon */
    #nyheter-lesmer, #utstilling-lesmer, #corona-lesmer,
    #industri-lesmer,#skulptur-lesmer, #kunst-lesmer,
    #om-kistefos-lesmer, #kistefos-historie-lesmer,
    #transport-lesmer, #overnatting-lesmer
    {
        display: inline;
    }

    #nyheter-btn, #utstilling-btn, #corona-btn,
    #industri-btn,#skulptur-btn, #kunst-btn,
    #om-kistefos-btn, #kistefos-historie-btn,
    #transport-btn, #overnatting-btn
    {
        display: none;
    }

    #nyheter-dott, #utstilling-dott, #corona-dott,
    #industri-dott,#skulptur-dott, #kunst-dott,
    #om-kistefos-dott, #kistefos-historie-dott,
    #transport-dott, #overnatting-dott
    {
        display: none;
    }

    .innhold-container-bilder{
    height: 300px;
    width: 100%; 
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
    }
}


/* Responsive deskop */
@media screen and (min-width: 1024px){
    /* Les mer/indre funksjon */
    #nyheter-lesmer, #utstilling-lesmer, #corona-lesmer,
    #industri-lesmer,#skulptur-lesmer, #kunst-lesmer,
    #om-kistefos-lesmer, #kistefos-historie-lesmer,
    #transport-lesmer, #overnatting-lesmer
    {
        display: inline;
    }

    #nyheter-btn, #utstilling-btn, #corona-btn,
    #industri-btn,#skulptur-btn, #kunst-btn,
    #om-kistefos-btn, #kistefos-historie-btn,
    #transport-btn, #overnatting-btn
    {
        display: none;
    }

    #nyheter-dott, #utstilling-dott, #corona-dott,
    #industri-dott,#skulptur-dott, #kunst-dott,
    #om-kistefos-dott, #kistefos-historie-dott,
    #transport-dott, #overnatting-dott
    {
        display: none;
    }

    .inline-container-desktop{
        display: inline-block;
        width: 49.5%;
    }

        /* Footer */
    footer{
        width: 100%;
        bottom: 0; 
        background-color: lightgray;
        position: relative;
        color:#025951;
    }

    .footer-container{
        display: inline-block;
        width: 33%;
        height: 75px;
        position: relative;
    }

    .footer-logo{
        text-align: center;
    }

    .footer-copyright{
        text-align: center;
        padding-top: 20px;
    }

    .footer-published{
        text-align: center;
    }

    .innhold-container-bilder{
        height: 300px;
        width: 100%; 
        overflow: hidden;  
        position: relative;
        object-fit: cover;
        float: right;
        margin-right: 30px;
        margin-left: 30px;
    }

    nav {
        height: 70px;
        flex-direction: row;
      }
      
      .logo-container {
        padding-left: 50px;
        margin: 50;
        width: 20%;
      }
      
      .meny {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;
        background-color: transparent
      }
      
      .meny-item {
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
        color: #025951;
      }

      .meny-item-link{
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #025951;
    
    }

    .meny-item-link:hover{
        color: #03A696;
    
    }

      .meny-item:hover {
        background-color: transparent;
        color:#03A696;
    }
      
    .meny-toggle {
        display: none;
    }

    .current-page{
        background: transparent;
        color: #03A696;
    }
}

