@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* mobile first  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generelt */
.logo{
    height: 55px;
    margin: 10px 0 0 25px;
}
.container{
    position: relative;
    width: 100%;
}

.overskrift-1{
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
    font-size: 50px;
}

.fullbredde-bilde{
    height: 500px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

/* Banner */
#banner{
    position:relative;
    width: 100%;
    background-color: lightgray;
}

#brand-container{
    display: block;
    height: 75px;
}

/* Toggle-knapp */
#toggle-meny-btn{
    background-color: #025951;
    color:white ;
    padding: 15px 25px 15px 25px;
    float: right;
    right: 15px;
    font-size: 20px;
    
}

/* Navigasjonsmeny */
#topp-meny{
    position: relative;
}

.meny{
    position: relative;
    list-style: none;
    background-color: #025951;
}

.meny-item{
    display: block;
    text-align: center;
}

.meny-item-link{
    color:white;
    text-decoration: none;
    font-size: 22px;
    display: block;
    padding: 10px 0 10px 0;
}

.meny-item-link:hover{
    color: white;
    background-color: #03A696;
}

.active{
    color:white;
    font-weight: bold;
    background-color: #03A696;
}

/* Forside seksjon */
#forside-overskrift{
    color: white;
    top: 50%;
    font-size: 50px;
}
